@media only screen and (max-width: 992px){
  
}
@media only screen and (min-width: 993px){

}

@media only screen and (min-width: 1200px){

}

.slick-slide{
    width: 270px;
    }

.bubby{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
/* snurt */
}